.ctn {
    position: absolute;
    height: calc(95vh - var(--topBarHeight));
    width: 90vw;
    left: 5vw;
    top: calc(2.5vh + var(--topBarHeight));
    background-color: hsl(0, 0%, 50%);
    color: white;
    text-align: center;
    font-size: 5rem;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 1vw;
}

@media screen and (max-width: 635px) {
    .ctn {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 540px) {
    .ctn {
        width: 100vw;
        left: 0;
    }
}