.ctn {
    font-size: 3rem;
    border: 2px solid black;
    cursor: pointer;
    background-color: #222;
    padding: 1vw;
    max-width: 70vw;
    min-width: 70vw;
}

.title {
    font-size: 3.5rem;
}

.description {
    font-size: 2rem;
    padding: 1vw;
}

.updated {
    margin-top: 2vh;
    color: grey;
    font-size: 2rem;
}

@media screen and (max-width: 540px) {
    .ctn {
        max-width: 100%;
        min-width: 100%;
    }

    .title {
        font-size: 2.5rem;
    }
}